.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  z-index: 100;
}

.left-box {
  display: flex;
  background-color: white;
  align-items: center;
  
}
.site-title-box {
        display: flex;
        flex: 1;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: 0;
}

.page-button {

  background-color: red;

}