body {
        background-color: rgba(0, 50, 69, 0.712);
        padding-top: 200px;
        padding-left: 250px;
        padding-right: 250px;
        
        height: 3000px;
      }
      .site-title {
        width: 400px;
        display: block;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
      }

      .profile-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
      }

      @media (max-width: 1100px) {
        .profile-line {
          grid-template-columns: 1fr 1fr;
        }
        .profile {
          width: 350px;
        }
      }

      @media (max-width: 755px) {
        .profile-line {
          grid-template-columns: 1fr;
        }
      }

          
      .profile {
        width: 350px;
        border: none;
        border-radius: 10px;
        background-color: rgb(130, 207, 255);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        
      }

      @media (min-width: 1500px) {
        .profile {
          width: 100%;
        }
      }

      

      .profile:hover {
        scale: 105%;
        transition: 0.1s;
      }

      .profile-pic {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-bottom: 15px;
        display: inline-block;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
      }

      .profile-desc {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 16px;
      }

      @media (min-width: 1500px) {
        .profile-desc, .profile-name {
          font-size: 20px;
        }
      }

      .profile-name {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }
      
      .more-button {
        margin-top: 10px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .more-button:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      .more-button:active {
        scale: 90%;
        transition: 0.1s;
      }
